<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>wyborLoginRegister</title>
</head>
<body>

<h1>zakład mechaniczy</h1>
<!--<form action="wyborLoginRegister" method="post">-->


<!--    <label for="loginRegister">Czy posiadasz juz konto? :</label> <br/>-->
<!--    <input type="submit" value="Logowanie" />-->
<!--    <input type="submit" value="rejestracja" />-->

<!--</form>-->

<!--<form action="wyborLoginRegister" method="post">-->
<!--    <button name="foo" value="upvote">Logowanie</button>-->
<!--</form>-->

<!-- to musi byc nazwa endpointa, ktory mamy w metodzie postPostmapping -->
<form action="wyborLoginRegister" method="post">
    <input type="submit" name="upvote" value="Logowanie" />
    <input type="submit" name="upvote" value="Rejestracja" />
</form>

</body>



</html>